@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* MUDAR CORES POR AQUI */
:root {
    --background-color: #121316;
    --background-color-secondary: #1e1e1e;
    --background-color-input: #303236;
    --text-color: #f5f5f5;
    --button-color: #2589ff;
    --button-hover-color: #0056b3;
    --border-color: #ccc;
}

*,
*::after,
*::before {
    touch-action: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--background-color);
    overflow: hidden;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row-reverse;
    width: 160vmin;
    height: 80vh;
    margin: auto;
    overflow: hidden;
}

#editor-block,
#editor {
    width: 100%;
    height: 100%;
}

#editorContainer {
    display: block;
    width: 50%;
    height: 100%;
    padding: 20px;
    background-color: var(--background-color-secondary);
    border-radius: 14px;
    margin-right: 5px;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: 5px;
}

#gameCanvas {
    width: 80%;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-secondary);
    border-radius: 14px;
}

#buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 15px;
    justify-content: space-evenly;
    background-color: var(--background-color-secondary);
    border-radius: 14px;
    
}

form {
    display: flex;
    gap: 10px;
}

input,
select {
    width: 64px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
}

button {
    padding: 5px 10px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
}

button:hover {
    background-color: var(--button-hover-color);
}

label {
    display: flex;
    align-items: center;
}

label svg {
    fill: white;
    width: 20px;
    height: 20px;
}

#height,
#width,
input {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    background-color: var(--background-color-input);
    color: var(--text-color);
    border: none;
}

select {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
}

select option {
    appearance: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: #2A2A2A;
    font-size: 10px;
    border: none;
}

#resolution {
    width: 100px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#header h1 {
    font-size: 14px;
}

#header #logo {
    width: 30px;
    height: 25px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
    }

    #buttons {
        display: flex;
        gap: 5px;
        padding: 10px;
        margin-top: 15px;
        justify-content: center;
    }

    #editorContainer,
    #gameContainer {
        height: 40%;
        width: 90%;
        border-radius: 8px;
        padding: 5px;
        align-self: center;
    }

    #gameContainer {
        height: 60%;
        margin-left: 0;
        padding: 0;
    }

    #game {
        height: 80%;
        border-radius: 8px;
    }

    #buttons {
        height: 15%;
        border-radius: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    form {
        width: 100%;
        justify-content: space-between;
        gap: 5px;
    }

    input,
    #format,
    #resolution,
    #download {
        width: 50px;
        font-size: 10px;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
    }

    input {
        width: 30px;
    }

    label svg {
        width: 12px;
        height: 14px;
    }

    #gameCanvas {
        width: 100%;
    }
}
